<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin views</title>
</head>
<body>
    <h1>Admin</h1>
    <aside>
        <div id="info-user">
            <h3 id="show-username" ></h3>
            <p id="show-role"></p>
        </div>
        <div id="options">
            <a id="show-events" href="/events" data-link>Events</a>
            <a href="/newEvent" id="new-event" data-link> Add New Event</a>
            <p id="logout">Logout</p>
        </div>

    </aside>
    <main id="content"></main>

</body>
<script src="../script.js"></script>
</html>