<section>
    <form id="form-new-event">
        <h2>Create Event</h2>
        <label for="nameEvent">Name Event</label>
        <input type="text" id="nameEvent" name="nameEvent" required>
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <label for="date">Date</label>
        <input type="date" id="date" name="date" required>
        <label for="capacity">Capacity</label>
        <input type="number" id="capacity" name="capacity" required>
        <button type="submit">Create Event</button>
    </form>
    <div id="message"></div>
</section>