<section>
    <form id="new-user">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <label for="password">Confirmar Contraseña:</label>
        <input type="password" id="passwordValidate" name="passwordValidate" required>
        <button type="submit">Crear Usuario</button>
    </form>
    <p>Ya tienes cuenta?. <a href="./login.html">Ingresar.</a></p>
    <span id="message"></span>
</section>